

<!-- <input type='text' appCustom />  -->

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
   <div class="w3-container">
     <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
       <i class="fa fa-remove"></i>
     </a>
     
     <h4 *ngIf='LoginService.login'><b>Hey {{LoginService.username}}! </b></h4>
     
   </div>
   <div class="w3-bar-block">
    
   
     
    <a *ngIf='!LoginService.login' href='{% url "kitchen:signup" %}'  class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i> Signup </a>&nbsp;&nbsp; 
    
    <a *ngIf='LoginService.login' (click)="LoginService.logout_user()"  class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-user fa-fw w3-margin-right"></i> Logout </a>&nbsp;&nbsp; 

    <a href='{% url "kitchen:index" %}' onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Home</a> 
    <a href='{% url "kitchen:shoppingCart" %}' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>My Cart</a> 
    

    <br *ngIf='!LoginService.login'>
    <br *ngIf='!LoginService.login'>    
    
    <app-login *ngIf='!LoginService.login'  (login_state_changed)='set_login_true($event)' (provider_state_changed)='set_provider_true($event)' (username_changed)='set_username($event)'></app-login>
  
    <a *ngIf='LoginService.provider' href='{% url "kitchen:providerKitchenView" %}' class="w3-bar-item w3-button w3-padding" ><i class="fa fa-th-large fa-fw w3-margin-right"></i> My Kitchen </a>
    <a *ngIf='LoginService.provider' href='{% url "kitchen:addKitchen" %}' class="w3-bar-item w3-button w3-padding" ><i class="fa fa-th-large fa-fw w3-margin-right"></i> Add Kitchen </a> 
    <a *ngIf='LoginService.login' href='{% url "kitchen:orders" %}' class="w3-bar-item w3-button w3-padding "><i class="fa fa-user fa-fw w3-margin-right"></i>  Orders </a> &nbsp;&nbsp;
     </div>
 </nav>

 <div class="w3-main" style="margin-left:300px">

   <!-- Header -->
   <header id="portfolio">
     
     <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
     <div class="w3-container">
     
     <h1><b>All Kitchens</b></h1>
     
     <div class="w3-section w3-bottombar w3-padding-16">
       <span class="w3-margin-right">Filter:</span> 
       <button class="w3-button w3-black">ALL</button>
       <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
       <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
       <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
     </div>
     </div>
   </header>
    
   <router-outlet></router-outlet>
     
 </div>
 